<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/article.css" />
	<link rel="stylesheet" href="/stylesheets/topnav.css" />
	<link rel="stylesheet" href="/stylesheets/iconfont.css" />
	<link rel="stylesheet" href="/stylesheets/ctn.css" />
	<link rel="stylesheet" href="/stylesheets/archives.css">
	<link rel="stylesheet" href="/plugin/bootstrap.min.css" />

	<body>
		<div class="topnav">
			<div class="top-title">
				<span>lANcEbLOG</span>
			</div>
			<div class="top-word">
				<span>我这一路走来，扬起漫天尘埃</span>
			</div>
			<div class="top-btn-toggle">
				<span><i class="icon-caidan iconfont"></i></span>
			</div>
			<div class="top-chooseList">
				<ul class="articlelist-list">
					<li class="articlelist-item articlelist-home">
						<span  onclick="window.location.href ='/'"><i class="iconfont icon-index"></i>首页</span>
					</li>
					<li class="articlelist-item articlelist-blog">
						<span onclick="window.location.href ='/blog'"><i class="iconfont icon-boke"></i>博客</span>
					</li>
					<li class="articlelist-item articlelist-sort">
						<span onclick="window.location.href ='/categories'"><i class="iconfont icon-leixing"></i>类型</span>
					</li>
					<li class="articlelist-item articlelist-timesort">
						<span onclick="window.location.href ='/archives'"><i class="iconfont icon-guidang"></i>归档</span>
					</li>
					<li class="articlelist-item articlelist-tag">
						<span onclick="window.location.href ='/tags'"><i class="iconfont icon-biaoqian"></i>标签</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-list">
			<div class="nav-tip-arrow">
			</div>
			<div class="welcome-ctn">
				<p>lANcEbLOG</p>
				<p>我这一路走来</p>
				<p>扬起漫天尘埃</p>
			</div>
			<div class="articlelist-ctn">
				<ul class="articlelist-list">
					<li class="articlelist-item articlelist-home">
						<span  onclick="window.location.href ='/'"><i class="iconfont icon-index"></i>首页</span>
					</li>
					<li class="articlelist-item articlelist-blog">
						<span onclick="window.location.href ='/blog'"><i class="iconfont icon-boke"></i>博客</span>
					</li>
					<li class="articlelist-item articlelist-sort">
						<span onclick="window.location.href ='/categories'"><i class="iconfont icon-leixing"></i>类型</span>
					</li>
					<li class="articlelist-item articlelist-timesort">
						<span onclick="window.location.href ='/archives'"><i class="iconfont icon-guidang"></i>归档</span>
					</li>
					<li class="articlelist-item articlelist-tag">
						<span onclick="window.location.href ='/tags'"><i class="iconfont icon-biaoqian"></i>标签</span>
					</li>
				</ul>
			</div>
			<div class="icon-person-show">
				<div>lANcElOT</div>
			</div>
			<div class="icon-ctn">
				<div class="icon-body">
					<span onclick="window.location.href ='https://github.com/xxx407410849'"><i class="iconfont icon-github"></i>Git</span>
					<span onclick="window.location.href='tencent://message/?uin=407410849&Site=QQ交谈&Menu=yes'"><i class="iconfont icon-qq"></i>QQ</span>
					<span onclick="window.location.href='Mailto:407410849@qq.com'"><i class="glyphicon glyphicon-envelope"></i>mail</span>
					<span><i class="iconfont icon-tipoff"></i>lifeline</span>
				</div>
			</div>
		</div>
		<div class="itembody-ctn">
			<% if(!isTag) {%>	<div class="catelog-ctn"><p>时间表</p></div>
			<%}%>
			<div class="inside-ctn">
				<% if(isTag) {%>
				<span class = "archives-header">~(tag:<%=tag-%>)共计<%=count-%>篇日志~</span>
					<h3><%=tag-%></h3>
					<% for(var i = 0 ; i < list.length ; i++){%>
						<article class="archives-item">
							<p><span class="archives-item-time"><%=list[i].date-%></span><span class="archives-item-title" onclick="window.location.href ='/article?id=<%= list[i].id%>'"><%=list[i].title-%></span></p>
						</article>
					<%} %>
				<% }else{ %>
				<span class = "archives-header">~共计<%=count-%>篇日志~</span>
				<% for(var i = 0 ; i < list.length ; i++) {%>
					<h3><%=(2018+Math.floor(i/2018)) + "." + (i%12 + 8)-%></h3>
					<% for(var j = 0 ; j < list[i].length ; j++){%>
						<article class="archives-item">
							<p><span class="archives-item-time"><%=list[i][j].date-%></span><span class="archives-item-title" onclick="window.location.href ='/article?id=<%= list[i][j].id%>'"><%=list[i][j].title-%></span></p>
						</article>
					<%} %>
				<% }%>
				<%}%>
			</div>
		</div>
		<div class="blog-copyright">
			<p>© 2018 Lancelot</p>
			<p> lANcEBlog 开源Blog - <a>github</a></p>
			<p>蜀ICP备18014404号</p>
		</div>
	</body>
	<script type="text/javascript" src="/plugin/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/ctn.js"></script>
	<script type="text/javascript" src="/plugin/velocity.min.js"></script>
	<script type="text/javascript" src="/plugin/velocity.ui.min.js"></script>
	<script type="text/javascript" src="/javascripts/archives.js"></script>
</html>