<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/plugin/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/article.css" />
		<link rel="stylesheet" href="/stylesheets/topnav.css" />
		<link rel="stylesheet" href="/stylesheets/iconfont.css" />
		<link rel="stylesheet" href="/stylesheets/article-style.css" />
		<link rel="stylesheet" href="/plugin/github.css" />

	</head>

	<body>
		<%if(user){%>
    		<%if(user.username == "lANcElOTA"){%>
        <p>
            <span><a class="edit" href="/post?id=<%= post._id%>">编辑</a></span>
            <span><a class="edit" href="/del?id=<%= post._id%>">删除</a></span>
        </p>
    		<%}%>
		<%}%>
			<div class="topnav">
			<div class="top-title">
				<span>lANcEbLOG</span>
			</div>
			<div class="top-word">
				<span>我这一路走来，扬起漫天尘埃</span>
			</div>
			<div class="top-btn-toggle">
				<span><i class="icon-caidan iconfont"></i></span>
			</div>
			<div class="top-chooseList">
				<ul class="articlelist-list">
					<li class="articlelist-item articlelist-home">
						<span><i class="iconfont icon-index"></i>首页</span>
					</li>
					<li class="articlelist-item articlelist-blog">
						<span><i class="iconfont icon-boke"></i>博客</span>
					</li>
					<li class="articlelist-item articlelist-sort">
						<span><i class="iconfont icon-leixing"></i>类型</span>
					</li>
					<li class="articlelist-item articlelist-timesort">
						<span><i class="iconfont icon-guidang"></i>归档</span>
					</li>
					<li class="articlelist-item articlelist-tag">
						<span><i class="iconfont icon-biaoqian"></i>标签</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="catelog-ctn">
		</div>
		<div class="container">
		<div class="article-ctn">
			<div class="article-body">
				<div class="article-body-ctn">
					<div class="article-body-title">
						<h4><%= post.title %></h4>
						<p>
							<span><i class="iconfont icon-riqi"></i> <%= post.publishTime %></span>
							<span>|</span>
							<span><i class="iconfont icon-guidang"></i>分类:样例</span>
							<span>|</span>
							<span><i class="iconfont icon-redupaixu"></i>阅读量:<%= post.viewNum %></span>
						</p>
					</div>
					<hr>
					<div class="article-body-text">
						<%- post.article %>
					</div>
					<hr>
					<div class="copyright"><p>版权声明:本文未经原作者同意,禁止转载</p><p>本文作者:lANcElOT</p><p>本文链接</p></div>
					<hr>
					<% if(fastViewData.leftLink != null){%>
					<a class="left-article article-jump" href="/article?id=<%= fastViewData.leftLink%>"><i><</i><%= fastViewData.leftName -%></a>
					<%}%>
					<% if(fastViewData.rightLink != null){%>
					<a class="right-article article-jump" href="/article?id=<%= fastViewData.rightLink%>"><%= fastViewData.rightName -%><i>></i></a>
					<%}%>
				</div>
			</div>
		</div>
		<div class="nav-list">
			<div class="nav-tip-arrow">
			</div>
			<div class="welcome-ctn">
				<p>lANcEbLOG</p>
				<p>我这一路走来</p>
				<p>扬起漫天尘埃</p>
			</div>
			<div class="articlelist-ctn">
				<ul class="articlelist-list">
					<li class="articlelist-item articlelist-home">
						<span  onclick="window.location.href ='/'"><i class="iconfont icon-index"></i>首页</span>
					</li>
					<li class="articlelist-item articlelist-blog">
						<span onclick="window.location.href ='/blog'"><i class="iconfont icon-boke"></i>博客</span>
					</li>
					<li class="articlelist-item articlelist-sort">
						<span><i class="iconfont icon-leixing"></i>类型</span>
					</li>
					<li class="articlelist-item articlelist-timesort">
						<span><i class="iconfont icon-guidang"></i>归档</span>
					</li>
					<li class="articlelist-item articlelist-tag">
						<span><i class="iconfont icon-biaoqian"></i>标签</span>
					</li>
				</ul>
			</div>
			<div class="icon-person-show">
				<div>lANcElOT</div>
			</div>
			<div class="icon-ctn">
				<div class="icon-body">
					<span onclick="window.location.href ='https://github.com/xxx407410849'"><i class="iconfont icon-github"></i>Git</span>
					<span onclick="window.location.href='tencent://message/?uin=407410849&Site=QQ交谈&Menu=yes'"><i class="iconfont icon-qq"></i>QQ</span>
					<span onclick="window.location.href='Mailto:407410849@qq.com'"><i class="glyphicon glyphicon-envelope"></i>mail</span>
					<span><i class="iconfont icon-tipoff"></i>lifeline</span>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script type="text/javascript" src="/plugin/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/plugin/bootstrap.min.js"></script>
	<script type="text/javascript" src="/plugin/highlight.pack.js"></script>
	<script type="text/javascript" src="/javascripts/resize.js" ></script>
	<script type="text/javascript" src="/plugin/velocity.min.js"></script>
	<script type="text/javascript" src="/plugin/velocity.ui.min.js"></script>
	<script type="text/javascript" src="/javascripts/article.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

</html>